@font-face {
    font-family: 'Segoe UI';
    src: url('/Fonts/Segoe/segoeui.ttf');
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/Fonts/Segoe/segoeuib.ttf');
    -fx-font-weight: bold;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/Fonts/Segoe/segoeuisl.ttf');
    -fx-font-weight: 300;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/Fonts/Segoe/seguisb.ttf');
    -fx-font-weight: 600;
}

.root {
    -fx-background-color: linear-gradient(
            to right,
            #1f0431 0%,
            #2c2636 50%,
            #1f0431 100%
    );

    -fx-font-family: "Segoe UI";
    -fx-background-image: url('../../images/Background.png');
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.detail-text {
    -fx-text-fill: #ae90e1;
    -fx-font-size: 18px;
    -fx-font-weight: 300;
}

.input-label {
    -fx-font-weight: 300;
    -fx-text-fill: #ae90e1;
    -fx-font-size: 14pt;
}

.input-field {
    -fx-padding: 8px;
    -fx-font-size: 15pt;
    -fx-text-fill: #ae90e1;
    -fx-background-radius: 10;
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: #403656;
    -fx-background-color: #342c42;
    -fx-border-width: 1px;
    -fx-border-radius: 10;
}

.action-button {
    -fx-font-size: 16pt;
    -fx-background-color: #3d2752;
    -fx-border-color: #5d3b7c;
    -fx-border-radius: 5;
    -fx-text-fill: #ae90e1;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5;
    -fx-font-weight: 300;
}

.action-button:hover {
    -fx-background-color: #524660;
}

.action-button:pressed {
    -fx-background-color: #cccccc;
}

.text-link {
    -fx-text-fill: #ae90e1;
    -fx-font-size: 14px;
    -fx-font-weight: 300;
    -fx-underline: false;
    -fx-cursor: hand;
}

.text-link:hover {
    -fx-text-fill: white;
    -fx-underline: true;
}

.spacer {
    -fx-hgrow: always;
}

#appLogo {
    -fx-background-image: url('../../images/Logo.png');
    -fx-max-height: 300px;
    -fx-max-width: 300px;
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#appTitle {
    -fx-text-fill: #ae90e1;
    -fx-font-size: 40px;
}

#welcomeTitle {
    -fx-text-fill: #F5EBDD;
    -fx-font-size: 20px;
    -fx-font-weight: 600;
}

#loginCard {
    -fx-background-color: radial-gradient(
            center 50% 50%,
            radius 100%,
            #786198 0%,
            #5f4777 75%,
            #5d3b7c 100%
    );
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 2;
    -fx-border-color: #60556e;
}